<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AwesomeProject</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>calibre-black.woff</string>
		<string>calibre-black.woff2</string>
		<string>calibre-blackitalic.woff</string>
		<string>calibre-blackitalic.woff2</string>
		<string>calibre-bold.woff</string>
		<string>calibre-bold.woff2</string>
		<string>calibre-bolditalic.woff</string>
		<string>calibre-bolditalic.woff2</string>
		<string>calibre-light.woff</string>
		<string>calibre-light.woff2</string>
		<string>calibre-lightitalic.woff</string>
		<string>calibre-lightitalic.woff2</string>
		<string>calibre-medium.woff</string>
		<string>calibre-medium.woff2</string>
		<string>calibre-mediumitalic.woff</string>
		<string>calibre-mediumitalic.woff2</string>
		<string>calibre-regular.woff</string>
		<string>calibre-regular.woff2</string>
		<string>calibre-regularitalic.woff</string>
		<string>calibre-regularitalic.woff2</string>
		<string>calibre-semibold.woff</string>
		<string>calibre-semibold.woff2</string>
		<string>calibre-semibolditalic.woff</string>
		<string>calibre-semibolditalic.woff2</string>
		<string>calibre-thin.woff</string>
		<string>calibre-thin.woff2</string>
		<string>calibre-thinitalic.woff</string>
		<string>calibre-thinitalic.woff2</string>
		<string>gilroy-extrabold.woff</string>
		<string>gilroy-extrabold.woff2</string>
		<string>gilroy-light.woff</string>
		<string>gilroy-light.woff2</string>
		<string>gilroy-semibold.woff</string>
		<string>gilroy-semibold.woff2</string>
		<string>heebo-blackheebo.ttf</string>
		<string>heebo-blackheebo.woff</string>
		<string>heebo-boldheebo.ttf</string>
		<string>heebo-boldheebo.woff</string>
		<string>heebo-extraboldheebo.ttf</string>
		<string>heebo-extraboldheebo.woff</string>
		<string>heebo-lightheebo.ttf</string>
		<string>heebo-lightheebo.woff</string>
		<string>heebo-mediumheebo.ttf</string>
		<string>heebo-mediumheebo.woff</string>
		<string>heebo-regularheebo.ttf</string>
		<string>heebo-regularheebo.woff</string>
		<string>heebo-thinheebo.ttf</string>
		<string>heebo-thinheebo.woff</string>
		<string>Helvetica.woff</string>
		<string>Helvetica.woff2</string>
		<string>HelveticaNeue-Light.woff</string>
		<string>HelveticaNeue-Light.woff2</string>
		<string>sportpartner.ttf</string>
		<string>sportpartner.woff</string>
		<string>sportpartner-logo.ttf</string>
		<string>sportpartner-logo.woff</string>
		<string>PottaOne-Regular.ttf</string>
		<string>gilroy-extrabold2.woff2</string>
		<string>gilroy-light2.woff2</string>
		<string>gilroy-semibold2.woff2</string>
		<string>gilroy-light.ttf</string>
		<string>gilroy-extrabold.ttf</string>
		<string>gilroy-semibold.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
</dict>
</plist>
